<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>HQK IOT CAR</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			// sending a connect request to the server.
			var socket_ip = io.connect('http://192.168.8.21:5000/control');
			var socket = io.connect('http://iotcar.local:5000/control');

			// An event handler for a change of value 
			$('input.sync').on('input', function (event) {
				console.log("da thay doi")
				socket.emit('Value changed', { who: $(this).attr('id'), data: $(this).val() });
				socket_ip.emit('Value changed', { who: $(this).attr('id'), data: $(this).val() });
				return false;
			});

			socket.on('after connect', function (msg) {
				console.log('After connect', msg);
			});

			socket.on('Sever updated value', function (msg) {
				console.log('Sever updated value ' + msg.who + " " + msg.data);
				$('#' + msg.who).val(msg.data);
			});

			socket_ip.on('after connect', function (msg) {
				console.log('After connect', msg);
			});

			socket_ip.on('Sever updated value', function (msg) {
				console.log('Sever updated value ' + msg.who + " " + msg.data);
				$('#' + msg.who).val(msg.data);
			});

			// catching keyboard event with JQuer
			var speed_step = 0;
			$(this).keydown(function (event) {
				event.preventDefault();
				if ((event.code === "ArrowDown") && (parseInt($('#' + 'speed').val()) == 0) && (speed_step != 0)) {
					// Handle "down"
					$('#' + 'speed').val(parseInt(-speed_step)).trigger('input');
				} else if ((event.code === "ArrowUp") && (parseInt($('#' + 'speed').val()) == 0) && (speed_step != 0)) {
					// Handle "up"
					$('#' + 'speed').val(parseInt(speed_step)).trigger('input');
				} else if ((event.code === "ArrowLeft") && (parseInt($('#' + 'angle').val()) == 0)) {
					// Handle "left"
					$('#' + 'angle').val(-100).trigger('input');
				} else if ((event.code === "ArrowRight") && (parseInt($('#' + 'angle').val()) == 0)) {
					// Handle "right"
					$('#' + 'angle').val(100).trigger('input');
				} else if (event.code === "KeyS") {		//to stop
					$('#' + 'angle').val(0).trigger('input');
					$('#' + 'speed').val(0).trigger('input');
				} else if (event.code === "Digit1") {
					speed_step = 45
				} else if (event.code === "Digit2") {
					speed_step = 55
				} else if (event.code === "Digit3") {
					speed_step = 65
				} else if (event.code === "Digit4") {
					speed_step = 75
				} else if (event.code === "Digit0") {
					speed_step = 0
				} else if (event.code === "KeyM") {
					if ($('#' + 'mode').val() ==='manuell') {
						$('#' + 'mode').val('auto').trigger('input');
					} else {
						$('#' + 'mode').val('manuell').trigger('input');
					}
				}
			});
			$(this).keyup(function (event) {
				event.preventDefault();
				if ((event.code === "ArrowDown" || event.code === "ArrowUp") && (parseInt($('#' + 'speed').val()) != 0)) {
					$('#' + 'speed').val(0).trigger('input');
				} else if (event.code === "ArrowLeft" || event.code === "ArrowRight") {
					$('#' + 'angle').val(0).trigger('input');
				}
			});
			function test_input(x) {
				if (x < -100) {
					return -100;
				} else if (x > 100) {
					return 100;
				} else {
					return x;
				}
			}
		});
	</script>
	<style>
		.form-control-range sync{
			width: 10%;
  			margin:0 auto;
  			text-align: center;
		}
		</style>
</head>

<body>
	<div class="container text-center">
		<h1>IOT CAR</h1>
		<img src="{{ url_for('video_feed.video_feed') }}"/>
		<img src="{{ url_for('video_feed.video_edges_feed') }}"/>
		<form class="mt-5">
			<div class="form-group">
				<label for="formControl">Speed</label>
				<input type="text" class="form-control-range sync" id="speed" value={{speed}} readonly>
			</div>
			<div class="form-group">
				<label for="formControl">Angle</label>
				<input type="text" class="form-control-range sync" id="angle" value={{angle}} readonly>
			</div>
			<div class="form-group">
				<label for="formControl">Mode</label>
				<input type="text" class="form-control-range sync" id="mode" value={{mode}} readonly>
			</div>
		</form>
	</div>
</body>

</html>